html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf');
  font-display: swap;
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap);
}

.btn {
  display: inline-block;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-leaves);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 16px;
}

.btn--stroke {
  border: 1px solid currentColor;
}

.btn--stroke:focus {
  background-color: var(--color-surf);
}

.btn--stroke:hover {
  color: #fff;
  background-color: var(--color-leaves);
}

.btn--stroke:active {
  color: #fff;
  background-color: var(--color-killarney);
}

.btn--fill {
  color: var(--color-shark);
  background-color: var(--color-sand);
}

.btn--fill:focus {
  border-color: var(--color-mandalay);
  background-color: var(--color-corn);
}

.btn--fill:hover {
  background-color: var(--color-corn);
}

.btn--fill:active {
  background-color: var(--color-anzac);
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  color: var(--color-shark);
}

:root {
  --color-gin: #e1ede6;
  --color-shark: #2c2d35;
  --color-leaves: #598d66;
  --color-mantle: #86928b;
  --color-surf: #d4e8d9;
  --color-killarney: #376b44;
  --color-sand: #eedb6d;
  --color-corn: #faeb97;
  --color-anzac: #d9d949;
  --color-mandalay: #a38314;
  --gap: 30px;
}

.header {
  padding: 31px 0;
  background-color: var(--color-gin);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-killarney);
  font-weight: 700;
}
.logo img {
  margin-right: 10px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: 60px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  position: relative;
  z-index: 5;
  outline: none;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-shark);
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -5px;
  bottom: -5px;
  z-index: -1;
  background-color: var(--color-surf);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus::after {
  opacity: 1;
}

.nav__link:hover {
  color: var(--color-leaves);
}

.nav__link:active {
  color: var(--color-killarney);
}

.cart {
  position: relative;
  outline: none;
}

.cart svg {
  position: relative;
  z-index: 5;
  stroke: var(--color-shark);
  transition: stroke 0.3s ease-in-out;
}

.cart::after {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background-color: var(--color-surf);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cart:focus svg {
  stroke: var(--color-leaves);
}

.cart:focus::after {
  opacity: 1;
}

.cart:hover svg {
  stroke: var(--color-leaves);
}

.cart:active svg {
  stroke: var(--color-killarney);
}

.hero {
  padding-bottom: 20px;
}

.hero__image {
  grid-column: 6 span;
  margin: 50px auto;
}

.hero__content {
  padding-top: 145px;
  grid-column: 6 span;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  color: var(--color-shark);
}

.hero__title span {
  color: var(--color-leaves);
}

.hero__descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-mantle);
}

.hero__link {
  min-width: 225px;
}

.catalog {
  padding-top: 50px;
  padding-bottom: 70px;
}

.catalog__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__title {
  margin-right: 20px;
}

.catalog-tabs {
  display: flex;
  align-items: center;
}

.catalog-tabs__item:not(:last-child) {
  margin-right: 34px;
}

.catalog-tabs__btn {
  position: relative;
  outline: none;
  border-radius: 16px;
  padding: 10px 21px;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-shark);
  background: var(--color-surf);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.catalog-tabs__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--color-leaves);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.catalog-tabs__btn:focus {
  background-color: var(--color-surf);
}

.catalog-tabs__btn:focus::after {
  opacity: 1;
}

.catalog-tabs__btn:hover {
  color: #fff;
  background-color: var(--color-leaves);
}

.catalog-tabs__btn:active {
  color: #fff;
  background-color: var(--color-killarney);
}

.catalog-tabs__btn--active {
  color: #fff;
  background-color: var(--color-killarney);
}

.catalog-tabs__btn--active:focus {
  color: var(--color-shark);
}

.catalog-list {
  row-gap: var(--gap);
}

.catalog__item {
  grid-column: 4 span;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* height: 100%; */
  background-color: var(--color-gin);
  border-radius: 16px;
}

.product__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 10px;
}

.product__author {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-mantle);
}

.product__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--color-shark);
}

.product__props {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-shark);
}

.product__price {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-leaves);
}

.product__btn {
  margin-top: auto;
  width: 100%;
  border-radius: 16px;
}

.newbies {
  position: relative;
  overflow: hidden;
  padding-top: 66px;
  padding-bottom: 73px;
  background-image: url("../img/newbies-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newbies::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(13, 43, 67, 0.8);
  mix-blend-mode: multiply;
  filter: blur(315px);
}

.newbies__title {
  position: relative;
  z-index: 5;
  margin-bottom: 16px;
  padding-left: 100px;
  max-width: 521px;
  color: #fff;
  background-image: url("../img/star.svg");
  background-position: left center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.newbies__content {
  position: relative;
  z-index: 5;
  margin-bottom: 60px;
  max-width: 540px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.newbies__descr {
  margin: 0;
  margin-bottom: 20px;
}

.newbies__link {
  position: relative;
  z-index: 5;
  min-width: 257px;
}

.about {
  padding: 70px 0;
}

.about__image {
  grid-column: 5 span;
}

.about__content {
  padding-top: 123px;
  grid-column: 7 span;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-shark);
}

.about__team {
  display: flex;
  align-items: center;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--color-gin);
}

.footer__left {
  margin-right: 115px;
}

.footer__container {
  display: flex;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  justify-content: flex-start;
}

.footer-phone__link {
  position: relative;
  z-index: 5;
  outline: none;
  display: inline-block;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-shark);
  transition: color 0.3s ease-in-out;
}

.footer-phone__link::after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -5px;
  bottom: -5px;
  z-index: -1;
  background-color: var(--color-leaves);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-phone__link:focus {
  color: var(--color-shark);
}

.footer-phone__link:focus::after {
  opacity: 1;
}

.footer-phone__link:hover {
  color: var(--color-leaves);
}

.footer-phone__link:active {
  color: var(--color-killarney);
}

.footer-phone__text {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-mantle);
}

.footer__right {
  display: flex;
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  margin-right: auto;
}

.footer-props {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-menu__col:not(:last-child) {
  margin-right: 63px;
}

.footer-menu__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-shark);
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-menu__link {
  position: relative;
  outline: none;
  z-index: 5;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-mantle);
  transition: color 0.3s ease-in-out;
}

.footer-menu__link::after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -5px;
  bottom: -5px;
  z-index: -1;
  background-color: var(--color-leaves);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-menu__link:focus {
  color: var(--color-shark);
}

.footer-menu__link:focus::after {
  opacity: 1;
}

.footer-menu__link:hover {
  color: var(--color-leaves);
}

.footer-menu__link:active {
  color: var(--color-killarney);
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  position: relative;
  outline: none;
  display: block;
  width: 24px;
  height: 24px;
  color: var(--color-shark);
  transition: color 0.3s ease-in-out;
}

.social__link::after {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--color-surf);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.social__link svg {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
  object-fit: cover;
}

.social__link:focus {
  color: var(--color-leaves);
}

.social__link:focus::after {
  opacity: 1;
}

.social__link:hover {
  color: var(--color-leaves);
}

.social__link:active {
  color: var(--color-killarney);
}

.footer__copyright {
  margin: 0;
  padding-top: 11px;
  padding-right: 29px;
  font-size: 12px;
  line-height: 120%;
  color: var(--color-mantle);
}

.footer__copyright span {
  margin-top: 6px;
  display: block;
}

.stop-scroll {
  overflow: hidden;
}

.burger {
  --burger-width: 20px;
  --burger-height: 16px;
  --burger-line-height: 2px;
  display: none;
  position: relative;
  border: none;
  padding: 0;
  z-index: 105;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #4c5866;
  background-color: transparent;
  cursor: pointer;
  transform: translateX(5px);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}